:root {
    --primary: #ff12ac;       /* Primary color used for progress, star rating/mod section, PP text */
    --primary-dark: #56093b;  /* used for PP/progress background color */
    --sr-mods-color: #ffffff; /* Color used for text of Star Rating/mod combination; use if text is too bright */
    --text-color: #ffffff;    /* Color used by most text */
    --secondary: #806b76;     /* Color of text under PP to show max possible current play */

    /* Don't touch the variables below unless you know what you're doing */
    --animation-time: 9s;     /* Dictates the amount of time text will scroll if it's too long, longer text will take slightly longer */
    --counter-height: 90px;   /* Height of the counter */
    --counter-width: 950px;   /* Width of the counter */
    --map-title-width: 500;   /* The width of the map title div. */
    --offset: -500px;         /* How far left map title text will scroll if too long */
    /*--bg-offset: 0px;*/     /* All backgrounds have a fixed offset from the top for now */
}

@font-face {
    font-family: "Lexend Deca";
    src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "Lexend Deca Bold";
    src: url(../fonts/LexendDeca-ExtraBold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: var(--counter-width);
}

#main-wrapper {
    background-size: 65%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--counter-height);
    width: var(--counter-width);
    overflow: hidden;
}

#bg-wrapper {
    grid-row-start: 1;
    grid-column-start: 1;
    height: var(--counter-height);
    display: grid;
    grid-template-columns: 1fr;
}

#bg-mask {
    grid-row-start: 1;
    grid-column-start: 1;
    background: rgba(0,0,0,0.8);
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 60%, rgba(0,0,0,1.0) 90%) no-repeat;*/
    height: var(--counter-height);
    width: 100%;
}

#bg {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: -99;
    max-width: 100%;
    margin-top: -150px;
    overflow: hidden;
}

#main {
    grid-row-start: 1;
    grid-column-start: 1;
    height: var(--counter-height);
    padding: 0 15px;
    border-radius: 8px;
}

.main-section {
    width: 100%;
}

body {
    font-family: "Lexend Deca", sans-serif;
    color: var(--text-color);
    font-size: 1.4em;
}

.stats-container {
    width: 100%;
}

.stats-top span, .max, .hits, #map-sr, #ur, #sb {
    font-family: "Lexend Deca Bold", sans-serif;
}

.stats-top span {
    color: var(--primary);
    font-size: 1.8em;
}

.stats-top {
    background: var(--primary-dark);
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.stats-bottom {
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitle {
    padding: 0 5px;
}

.hits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 100%;
    flex-grow: 1;
}

#hits-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hits-container {
    font-size: 1.3em;
    text-align: center;
}

#hit100 {
    color: #2ff82f;
}

#hit50 {
    color: yellow;
}

#hit0 {
    color: red;
}

#disabled {
    text-align: center;
    font-size: 1.2em;
}

#disabled p {
    opacity: 0.5;
}

img {
    max-width: 100%;
}

/*#map-progress {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border-radius: 50%;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background: radial-gradient(closest-side, transparent 0, transparent 100%),*/
/*    conic-gradient(var(--primary) calc(var(--value) * 1%), var(--primary-dark) 0);*/
/*    border: 1px solid var(--primary);*/
/*}*/

#map-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@keyframes marquee {
    0% {
        transform: translate(500px, 0);
    }
    100% {
        transform: translate(var(--offset), 0);
    }
}

#map-information-wrapper {
    width: 500px;
}

#map-title-wrapper {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#map-title {
    font-size: 0.9em;
    display: inline-block;
}

.marquee {
    animation: marquee var(--animation-time) linear infinite;
}

#map-sr-mods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    color: var(--sr-mods-color);
}

#map-sr, #map-mods {
    background-color: var(--primary);
    padding: 3px;
    border-radius: 5px;
}

/*#map-sr {*/
/*    width: 200px;*/
/*}*/

#map-mods {
    text-align: right;
}

#map-bpm-container {
    padding: 0 10px;
    font-size: 0.8em;
}

#map-sr::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/star.png);
    background-size: contain;
}

#main {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#progress {
    width: 60px;
    flex-shrink: 3;
}

#stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 400px;
    flex-shrink: 0;
}

#stats-pp {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.subtitle {
    vertical-align: middle;
    font-size: 0.7em;
}

#ur-container {
    font-size: 0.9em;
}

#other-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8em;
}

.other-stats-container {
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 10px;
}

#ur, #sb {
    font-size: 1.3em;
}

#ur {
    color: var(--text-color);
}

#sb {
    color: lightcoral;
}
