:root {
    --primary: #ff125a;       /* Primary color used for progress, star rating/mod section, PP text */
    --primary-dark: #31001a;  /* used for PP/progress background color */
    --text-color: #ffffff;    /* Color used by most text */
    --secondary: #806b6f;     /* Color of text under PP to show max possible current play */

    /* Don't touch the variables below unless you know what you're doing */
    --animation-time: 9s;
    --counter-height: 90px;
    --map-title-width: 500;
    --offset: -500px;
    --bg-offset: 0px;
}

@font-face {
    font-family: "Lexend Deca";
    src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "Lexend Deca Bold";
    src: url(../fonts/LexendDeca-ExtraBold.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
}

#main-wrapper {
    background-size: 65%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--counter-height);
    overflow: hidden;
}

#bg-wrapper {
    grid-row-start: 1;
    grid-column-start: 1;
    height: var(--counter-height);
    display: grid;
    grid-template-columns: 1fr;
}

#bg-mask {
    grid-row-start: 1;
    grid-column-start: 1;
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 35%, rgba(0,0,0,1.0) 70%) no-repeat;
    height: var(--counter-height);
    width: 100%;
}

#bg {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: -99;
    width: 900px;
    margin-top: var(--bg-offset);
    overflow: hidden;
}

#main {
    grid-row-start: 1;
    grid-column-start: 1;
    height: var(--counter-height);
    padding: 0 15px;
    border-radius: 5px;
    z-index:100;
}

.main-section {
    width: 100%;
}

body {
    font-family: "Lexend Deca", sans-serif;
    color: var(--text-color);
    font-size: 1.4em;
}

.stats-container {
    width: 100%;
}

.stats-top span, .max, .hits, #map-sr {
    font-family: "Lexend Deca Bold", sans-serif;
}

.stats-top span {
    color: var(--primary);
    font-size: 1.7em;

}

.stats-top {
    background: var(--primary-dark);
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
}

.stats-bottom {
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtitle {
    padding: 0 5px;
}

.hits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 100%;
    flex-grow: 1;
}

#hits-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hits-container {
    font-size: 1.3em;
    text-align: center;
}

#hit100 {
    color: #2ff82f;
}

#hit50 {
    color: yellow;
}

#hit0 {
    color: red;
}

#disabled {
    text-align: center;
    font-size: 1.2em;
}

#disabled p {
    opacity: 0.5;
}

img {
    max-width: 100%;
}

#map-progress {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side, transparent 0, transparent 100%),
    conic-gradient(var(--primary) calc(var(--value) * 1%), var(--primary-dark) 0);
    border: 1px solid var(--primary);
}

#map-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@keyframes marquee {
    0% {
        transform: translate(500px, 0);
    }
    100% {
        transform: translate(var(--offset), 0);
    }
}

#map-information-wrapper {
    width: 500px;
}

#map-title-wrapper {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#map-title {
    font-size: 0.9em;
    display: inline-block;
}

.marquee {
    animation: marquee var(--animation-time) linear infinite;
}

#map-sr-mods {
    width: 250px;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
}

#map-bpm-container {
    padding: 0 10px;
    font-size: 0.8em;
}

#map-sr::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/star.png);
    background-size: contain;
}

#main {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#progress {
    width: 60px;
    flex-shrink: 3;
}

#stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 400px;
    flex-shrink: 0;
}

#stats-pp {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.subtitle {
    vertical-align: middle;
    font-size: 0.7em;
}

#ur-container {
    font-size: 0.9em;
}
